.card-shimmer {
    height: 300px;
}

.card-shimmer .card {
    background-color: #ddd;
}
.restaurants-wrapper {
    height: calc(100vh - 130px);
}


/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}